@charset "ISO-8859-1";
body {
  background: #F0E5E1 ;
}
.container {
  max-width: 900px;
  margin: 0 auto;
}
label {
    width: 100%;    
}
.card-input-element {
    display: none;
}
.card-input {
    margin: 10px;
    padding: 00px;
         box-shadow: 0 0 2px 2px violet;
    
}
.card-input:hover {
    cursor: pointer;
}
.card-input-element:checked + .card-input {
     box-shadow: 0 0 1px 1px #2ecc71;
 }

