@charset "ISO-8859-1";
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-image: linear-gradient(to top, rgb(167, 0, 218) , rgba(174, 35, 255, 0.644));
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: rgb(255, 255, 255);
  padding: 25px;
  font-weight: 500;
  text-decoration: none;
}

#footer
  {
   background-image: linear-gradient(to top, rgb(167, 0, 218) , rgba(174, 35, 255, 0.644));
   position:absolute;
   bottom:0;
   width:100%;
}
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 700px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 500px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
#imagesTypes
{
  border-radius: 50%;
}
#imagesTypes:hover
{
  transform: scale(1.2);
}
#products
{
  font-size: 15px;
  font-weight: 500;
}
 .active-section
{
  background-color: rgba(241, 196, 255, 0.699);
}
.active-section:hover
{
  color:blueviolet;
}
.sidebar a:hover
{
  background-color: azure;
  color:rgb(65, 65, 65);
}


/* Text Boxes */

.container
{
  max-width: 500px;
  width: 50%;
  background-image: linear-gradient(to right, rgba(206, 206, 206, 0.521) , rgba(228, 228, 228, 0.247));
  padding:25px 30px;
  border-radius: 5px;
}
.container .title
{
  font-size:25px;
  position:relative;
  font-weight: 500;
}

.container form .user-details
{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

form .user-details .input-box
{
  margin: 20px 0 12px 0;
  width:350pt;
}
.user-details .input-box label
{
  display:block;
  font-weight: 500;
  margin-bottom: 5px;
}

.user-details .input-box input
{
  height:45px;
  width:100%;
  outline:none;
  border-radius :5px;
  border:1px solid gold;
  padding-left: 15px;
  font-size: 16px;
}

.submitButton,.btn-cancel
{
  width:250px;
  height:50px;
  
  border:1px solid gold;
  background-color: rgb(255, 255, 255);
}
#employeeIdError,#confirmEmployeeIdError,#BirthdateEmpty,#FutureDateException,#NameError,#emailEmpty,#mobileEmpty,#NameEmpty,#NameLengthError,#BirthdateException,#FirstMobileError,#MobileError,#confirmPasswordEmpty,#emailError,#PasswordError,#confirmPasswordError,#employeeIdempty,#confirmEmployeeIdempty,#PassowrdEmpty
{
  color:red;
  display:none;
}
