<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
 <display-name>AspireEventVotingSystem</display-name>
 <welcome-file-list>
 <welcome-file>AddCandidate.jsp</welcome-file>
 </welcome-file-list>
 
 <servlet>
 <description></description>
 <display-name>CandidateServlet</display-name>
 <servlet-name>CandidateServlet</servlet-name>
 <servlet-class>com.mvc.controller.CandidateServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>CandidateServlet</servlet-name>
 <url-pattern>/CandidateServlet</url-pattern>
 </servlet-mapping>
 
 <servlet>
 <description></description>
 <display-name>DeleteCandidateServlet</display-name>
 <servlet-name>DeleteCandidateServlet</servlet-name>
 <servlet-class>com.mvc.controller.DeleteCandidateServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>DeleteCandidateServlet</servlet-name>
 <url-pattern>/DeleteCandidateServlet</url-pattern>
 </servlet-mapping>
 
 <servlet>
 <description></description>
 <display-name>RegisterServlet</display-name>
 <servlet-name>RegisterServlet</servlet-name>
 <servlet-class>com.mvc.controller.RegisterServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>RegisterServlet</servlet-name>
 <url-pattern>/RegisterServlet</url-pattern>
 </servlet-mapping>
</web-app>